.massage {  
  display: flex;
}

.avatar {
  margin-right: 9px;
}

.bubble {
  background: #F4F4F7;
  border-radius: 0px 12px 12px 12px;
  padding: 12px 18px 6px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.date {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}