*{
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  --chat-room-user-box-height: 62px;
}

.mainPage {
  display: flex;
}

.contacts > * {
  margin-top: 20px;
}

.contacts {
  position: fixed;
  width: 30%;
  border-right: 1px solid #EEEEEE;
}

.contacts__title {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
}

.contacts__search {
  padding: 0 10px;
}

.chatRoom {
  position: fixed;
  margin-left: 30%;
  width: 70%;
}

.chatRoom__user {
  border-bottom: 1px solid #EEEEEE;
  height: var(--chat-room-user-box-height);
}

.chatRoom__chat {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #FAFAFA;
  height: calc(100vh - var(--chat-room-user-box-height));
  overflow-y: scroll;
}


